ETCD_NAME=default
ETCD_DATA_DIR="/data/etcd_data"
ETCD_WAL_DIR="/data/etcd_data/wal"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_AUTO_COMPACTION_RETENTION="1"
ETCD_AUTO_COMPACTION_MODE=periodic
ETCD_MAX_SNAPSHOTS="5"
ETCD_MAX_WALS="5"
ETCD_SNAPSHOT_COUNT="50000"
ETCD_HEARTBEAT_INTERVAL="100"
ETCD_ELECTION_TIMEOUT="1000"
ETCD_MAX_REQUEST_BYTES="10485760"