---
# author: hanxiong


- name: configure | Set vm.overcommit_memory to 1 in /etc/sysctl.conf.
  sysctl:
   name: vm.overcommit_memory
   value: 1
   state: present

- name: configure | TCP backlog setting of 2048.
  shell: echo 2048 > /proc/sys/net/core/somaxconn

- name: system TCP backlog setting of 2048.
  lineinfile: dest=/etc/rc.local line='echo 2048 > /proc/sys/net/core/somaxconn'
  run_once: yes
  
- name: configure | Shutdown transparent_hugepage.
  shell: "echo never > {{ item }}"
  with_items:
    - '/sys/kernel/mm/transparent_hugepage/enabled'
    - '/sys/kernel/mm/transparent_hugepage/defrag'

- name: configure | Set transparent_hugepage is never to /etc/rc.local.
  lineinfile: dest=/etc/rc.local line='echo never > {{ item }}'
  with_items:
    - '/sys/kernel/mm/transparent_hugepage/enabled'
    - '/sys/kernel/mm/transparent_hugepage/defrag'

- name: configure | Create redis group.
  group: name={{ redis_user }}

- name: configure | Create redis user.
  user: name={{ redis_user }} group={{ redis_user }} shell=/sbin/nologin

- name: configure | Create redis db Directory.
  file: path={{ redis_dbdir }} state=directory owner={{ redis_user }} group={{ redis_user }}

- name: configure | Ensure Redis is configured.
  template:
    src: redis.conf.j2
    dest: "{{ redis_dir_path }}/redis.conf"
    mode: 0644
    owner: "{{ redis_user }}"
    group: "{{ redis_user }}"

- name: configure | Ensure Redis daemon shell is configured  for CentOS version 7.
  template:
    src: redis.sh.j2
    dest: "/etc/rc.d/init.d/{{ redis_daemon }}"
    mode: 0755
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"

- name: configure | Add redis services for CentOS version 7.
  shell: "chkconfig --add {{ redis_daemon }}  && chkconfig {{ redis_daemon }} on"
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"

- name: configure | Ensure Redis is running and enabled on boot for CentOS  version 7.
  service: "name={{ redis_daemon }} state=started enabled=yes"
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"

- name: configure | Ensure Redis daemon shell is configured  for {{ ansible_distribution }} version {{ ansible_distribution_version }}.
  template:
    src: redis.service.j2
    dest: "/usr/lib/systemd/system/redis.service"
    mode: 0755
  when: ansible_distribution == "Rocky" and ansible_distribution_major_version == "9"

- name: configure | Add redis services for Rocky version 9.
  shell: "systemctl enable redis.service"
  when: ansible_distribution == "Rocky" and ansible_distribution_major_version == "9"

- name: configure | Ensure pg is running for Rocky version 9.
  systemd: "name=redis state=started enabled=yes"
  when: ansible_distribution == "Rocky" and ansible_distribution_major_version == "9"
